Django==1.6.2
EasyProcess==0.1.6
Fabric==1.4.3
HireFire==0.1
PyYAML==3.10
South==0.7.6
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
billiard==2.7.3.34
boto==2.25.0
celery==3.0.24
dj-database-url==0.2.1
django-appconf==0.6
django-async-messages==0.3
django-bootstrap-toolkit==2.14.0
django-celery==3.0.17
django-datetime-widget==0.5.3a
django-localflavor==1.0
django-model-utils==2.0
django-notification==1.1
django-notifications-hq==0.6.0
django-password-reset==0.5.1
-e git+https://github.com/AnthonyBRoberts/django-registration-1.5.git#egg=django_registration-master
-e git+https://github.com/AnthonyBRoberts/django-registration-email.git@nns_version#egg=django_registration_email
-e git://github.com/AnthonyBRoberts/django-ses.git#egg=django_ses-master
django-staticfiles==1.2.1
django-storages==1.1.5
django-suit==0.2.6
django-suit-redactor==0.0.2
django-taggit==0.11.2
django-templated-email==0.4.9
docutils==0.10
flower==0.6.0
gevent==0.13.7
greenlet==0.4.0
gunicorn==0.14.6
kombu==2.5.15
lxml==2.3.5
mechanize==0.2.5
mock==1.0b1
newrelic==1.11.0.55
paramiko==1.10.1
phonenumbers==5.5b1
-e git+https://github.com/AnthonyBRoberts/django-profiles.git#egg=profiles-master
psycopg2==2.4.5
pycrypto==2.6
pyscreenshot==0.3.2
python-dateutil==2.1
pytz==2013.7
redis==2.7.1
simplejson==2.2.1
six==1.4.1
ssh==1.8.0
stevedore==0.14.1
unittest2==0.5.1
virtualenv==1.11.2
virtualenv-clone==0.2.4
wsgiref==0.1.2
