{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block masthead %}
<h2>{% trans "Registration form" %}</h2>
{% endblock %}

{% block register %}
    {% block extracss %}
    {{ form.media.css }}
    {% endblock %}
<h3>Become a client of the Nebraska News Service</h3>
<form method="post" action=".">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}
    <p>&nbsp;</p>
    <p><input type="submit" value="{% trans "Register" %}" class="btn btn-large btn-primary"></p>
</form>
{% endblock %}