{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block newstory %}

    <div class="well">
    
        {% if article %}
            <h1>Edit Story {{ article }}</h1>
        {% else %}
            <h1>Create new story</h1>
        {% endif %}

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form|as_bootstrap }}
                {{ edit_form|as_bootstrap }}
            </table>
            <input type="submit" name="submit" value="Submit">
        </form>

    </div>
    
{% endblock %}
