{% extends "base.html" %}

{% block storylist %}

    <div class="well">

        {% if object_list %}

            <h2>Recent Stories</h2>
                {% if user.is_staff %}
                    <ul>
                        {% for article in object_list %}
                            <li>
                                <a href="{% url story_article_detail article.slug %}">{{ article.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul>
                        {% for article in object_list %}
                        {% if article.is_published %}
                            <li>
                                <a href="{% url story_article_detail article.slug %}">{{ article.title }}</a>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
        
        {% else %}
            <h2>No articles have been published yet.</h2>
        {% endif %}
        
        {% if user.is_staff %}
        <a href="{% url story_article_add %}">Create New Story</a>
        {% endif %}
        
    </div>
    
{% endblock %}
