{% extends "base.html" %}

{% block article_inprogress_list %}

    <div class="well">

        {% if object_list %}

            <h2>Stories in progress</h2>
                <style>
                table
                {
                    width:100%;
                }
                </style>
                <table>
                        {% for article in object_list %}

                            <tr>
                                <td><a href="{% url story_article_detail article.slug %}">{{ article.title }}</a></td>
                                <td>Author: {{ article.author }}</td>
                                <td>Publish Date: {{ article.publish_date|date:"D d M Y" }}</td>
                            </tr>

                        {% endfor %}
                </table>
        
        {% else %}
            <h2>No articles are in progress.</h2>
        {% endif %}
        
        {% if user.is_staff %}
        <a href="{% url story_article_add %}">Create New Story</a>
        {% endif %}
        
    </div>
    
{% endblock %}
