{% extends "welcome.html" %}
{% load staticfiles %}
{% block about %}

<div class="row-fluid">
            <div class="span8">
            	<div>
					<h3 align="center">What is the Nebraska News Service?</h3>
    				<p>The Nebraska News Service was established in 2011 to serve Nebraska news organizations by reporting on state government issues of interest to their audiences. It operates during the fall and spring semesters, but not during the summer. The news service is staffed by student reporters who submit a resume, cover letter and work samples as a condition for enrollment in this three-credit-hour course. The staff changes every semester. The director is Mary Kay Quinlan, Ph.D., associate professor of journalism.</p>
                    <hr>
                    <h3 align="center">Our Terms of Service</h3>
                    <ul>
                        <li>We welcome as clients any bona fide news organization, such as newspapers, news websites, radio and television stations. We are unable to serve publications or outlets of any sort that are affiliated with advocacy groups, including political parties and lobbying organizations.</li>
                        <li>We do not require you to publish anything we send you, but if you do publish our reporters’ work, please remember that our reporters get paid only in bylines.  So we ask that you credit the reporters by name and with the Nebraska News Service identification.</li>
                        <li>We hope you’ll feel free to localize stories to suit your needs, but again, please give our reporters byline credit when you use their work.</li>
                        <li>We always welcome story ideas.  Please contact the bureau chief at nns.mkquinlan@gmail.com.  We cannot promise to cover everything you request, but we’ll always do the best we can.</li>
                        <li>If you do choose to publish NNS stories, we’d like to get a complimentary subscription to your publication, as a courtesy, so we can track our efforts.  Our mailing address is:  Nebraska News Service, c/o Mary Kay Quinlan, 232 Andersen Hall, University of Nebraska-Lincoln, Lincoln, NE 68588-0474.</li>
                    </ul>
                    <hr>
                    <h3 align="center">Our Privacy Policy</h3>
                    <p>We will never use the information you provide us when you register for anything other than serving Nebraska News Service clients.</p>
				</div> <!-- empty -->
            </div><!-- span8 -->
            <div class="span4">
            	<div class="well">
					<p align="right" >
                    	<a class="twitter-timeline" height="480" href="https://twitter.com/NebNewsService" data-widget-id="299641054251065346">Tweets by @NebNewsService</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</p>
    				<p>&quot;The stories produced by the students were timely, well-written and accurate. I especially appreciated the willingness of the Nebraska News Service to cover hearings and report on bills that were of particular interest to (our paper).&quot;</p>
    				<p>-Kent Warneke, Norfolk Daily News</p>
					<p>&nbsp;</p>
    				<p>&quot;For those of us with limited resources and in no close proximity to the legislature, the Nebraska News Service has been a great aid for us.&quot;</p>
    				<p>-Cody Gerlach, Cambridge Clarion</p>
    				<p>&nbsp;</p>
    				<p>&quot;Your news service has certainly helped our newspaper give important coverage of state legislature activities that we simply could not otherwise provide.&quot;</p>
    				<p>-Klark Byrd, The Sidney Sun-Telegraph</p>
				</div> <!-- well -->
            </div> <!-- span4 -->
            </div> <!-- row-fluid -->

{% endblock %}