<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap_toolkit %}
<html lang="en">
<head>
	<link href="{% static "favicon.ico" %}" title="Nebraska News Service" type="image/x-icon" rel="icon" />
	<meta charset="utf-8">
    <title>Nebraska News Service</title>
	<meta name="description" content="The Nebraska state government news wire service provided by the University of Nebraska College of Journalism and Mass Communications">
	<meta name="author" content="Anthony Roberts">
	{% bootstrap_stylesheet_tag %}
	<style type="text/css">
        body {
            padding-top: 20px;
        }
	</style>
    <!--[if lt IE 9]>
    <script src="{% static "js/html5.js" %}"></script>
    <![endif]-->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/jquery.min.js" %}"></script>    
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	{% bootstrap_javascript_tag %}
</head>

<body>

<div class="container" style="width:1080px">
    <div class="row-fluid">
        <div class="span12 column">
        	<div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a href="/" class="brand"><img src="{% static "images/welcome/nns_logo.png" %}" alt="Nebraska News Service Logo" /></a>
                        
                        
                    </div> <!-- container-fluid -->
                </div> <!-- navbar-inner -->
            </div> <!-- navbar -->
            {% if user.is_authenticated %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
             			<div class="nav-collapse collapse navbar-responsive-collapse">
                            
                            <ul class="nav">
                                {% if user.is_staff %}
                                <li>
                                    <a href="/story">Stories</a>
                                </li>
                                <li>
                                    <a href="/profiles/">Clients</a>
                                </li>
                                <li>
                                    <a href="/profiles/reporter/edit">My Profile</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="/story">Stories</a>
                                </li>
                                <li>
                                    <a href="/profiles/client/edit">My Profile</a>
                                </li>
                                {% endif %}
                            </ul>
                            <ul class="nav pull-right">
                                    <li>
                                        {% if user.get_profile %}
                                        <a href="/accounts/logout/?next=/accounts/login/?next=/story/">Logout</a>
                                        {% else %}
                                        <a href="/accounts/logout/?next=/accounts/login/?next=profiles_profile_detail">Logout</a>
                                        {% endif %}
                                    </li>
                            </ul>
                              
                        </div> <!-- navbar-responsive-collapse -->	
                    </div> <!-- container-fluid -->
                </div> <!-- navbar-inner -->
            </div> <!-- navbar -->
            {% else %}
            
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <div class="nav-collapse collapse navbar-responsive-collapse">
                            <ul class="nav">
                                <li>
                                    <a href="/accounts/login/?next=/story/">Login</a>
                                </li>
                                <li>
                                    <a href="/accounts/register/">Register</a>
                                </li>
                            </ul>
                        </div> <!-- navbar-responsive-collapse -->	
                    </div> <!-- container-fluid -->
                </div> <!-- navbar-inner -->
            </div> <!-- navbar -->
            {% endif %}
            <div class="row-fluid">
            <div class="span8">
            	<div class="well">
					<h1>From Nebraska City to Chadron...</h1>
    				<p>Our state's capital has  a lot of stories to tell, and we are the people to tell them. The Nebraska News Service offers a unique opportunity to news organizations across the state as well as the students in the bureau. Located in Lincoln, the political heart of the state, we are able to provide our clients with powerful, relevant stories, straight from the source. In turn, our reporters get real-life experience and exposure to the news world. We put particular emphasis on providing content that is relevant to newspapers and their readers across our state. Currently, our stories are distributed to more than 100 news organizations, with a combined circulation greater than 270,000! If you wish to join our service please sign up below.</p>
    				<p>
      					<iframe src="https://spreadsheets1.google.com/embeddedform?formkey=dE5FMFRWUXZyR0ZRWkFkNTNrRTlPSUE6MQ" width="660" height="1580" frameborder="2" marginheight="10" marginwidth="10">Loading...</iframe>
    				</p>
				</div> <!-- well -->
            </div><!-- span8 -->
            <div class="span4">
            	<div class="well">
					<p align="right">
                    	<a class="twitter-timeline" href="https://twitter.com/NebNewsService" data-widget-id="299641054251065346">Tweets by @NebNewsService</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</p>
    				<p>&quot;The stories produced by the students were timely, well-written and accurate. I especially appreciated the willingness of the Nebraska News Service to cover hearings and report on bills that were of particular interest to (our paper).&quot;</p>
    				<p>-Kent Warneke, Norfolk Daily News</p>
					<p>&nbsp;</p>
    				<p>&quot;For those of us with limited resources and in no close proximity to the legislature, the Nebraska News Service has been a great aid for us.&quot;</p>
    				<p>-Cody Gerlach, Cambridge Clarion</p>
    				<p>&nbsp;</p>
    				<p>&quot;Your news service has certainly helped our newspaper give important coverage of state legislature activities that we simply could not otherwise provide.&quot;</p>
    				<p>-Klark Byrd, The Sidney Sun-Telegraph</p>
				</div> <!-- well -->
            </div><!-- span4 -->
            </div><!-- row-fluid -->
        </div> <!-- span12 column -->
    </div>  <!-- row-fluid -->
</div> <!-- container-fluid -->

<div class="container">
    <p><hr></p>
    <footer class="row">
        <div class="span6">
        	<p><a href="mailto:nns.mkquinlan@gmail.com">Mary Kay Quinlan, Bureau Chief</a></p>
        </div>
        <div class="span6" style="text-align:right">
        	<p>Nebraska News Service</p>
        </div>
    </footer>
</div> <!-- container -->
 
</body>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29072162-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>