{% extends "welcome.html" %}
{% load staticfiles %}
{% block front_page_content %}

<div class="row-fluid">
            <div class="span8">
            	<div>
					<h1 align="center">Nebraska State Government News</h1>
                    <h3 align="center">Testing Server</h3>
    				<p>The Nebraska News Service is the state government news wire service provided by the University of Nebraska-Lincoln College of Journalism and Mass Communications. Our reporters cover a wide range of state government news, including the Nebraska Legislature, the governor’s office, state agencies, decisions by Nebraska's Supreme Court, and other news stories as they arise. NNS provides news and information in the form of stories, photos and video. Located in Lincoln, the political heart of the state, we are able to provide our clients with powerful, relevant stories, straight from the source. In turn, our reporters get real-life experience and exposure to the news world. We put particular emphasis on providing content that is relevant to our clients and the communities they serve. Our current client list includes more than 100 newspapers throughout the state with a combined circulation exceeding 280,000, 16 radio stations and six television stations.</p>
                    <p>The Nebraska News Service is staffed by student reporters who submit a resume, cover letter and work samples as a condition for enrollment. The director is Mary Kay Quinlan.</p><br />
                    <div class="row-fluid">
                    	<div class="span12">
                         <a href="/accounts/register/" style="text-decoration:none">
                    		<div class="well" onmouseover="this.style.background='#cccccc';" onmouseout="this.style.background='#eeeeee';">
                            	<h3 align="center" style="color:#C00">Register for the Nebraska News Service today.</h3>
                            </div> <!-- well -->
                         </a>
                    	</div>
                    </div>
                    <div class="row-fluid">
                    	<div class="span8">
                    		<div class="well" align="center">
                    			<img src="{% static "images/welcome/NNS_Fall2013web.jpg" %}" alt="Nebraska News Service Staff" />
                    		</div> <!-- well -->
                    	</div> <!-- span8 -->
                    	<div class="span4">
                    		<div class="well" style="height:250px">
                                <h3>NNS Staff:</h3>
                                {% for p in object_list %}
        							{% if p.user_type == 'Reporter' %}
                                    <p>{{ p.user.get_full_name }}</p>
                                    {% endif %}
                                {% endfor %}
                                <p>Anthony Roberts, Technology Consultant</p>
                    		</div> <!-- well -->
                    	</div> <!-- span4 -->
                    </div> <!-- row-fluid -->
                    
				</div> <!-- empty -->
            </div><!-- span8 -->
            <div class="span4">
            	<div class="well">
					<p align="right" >
                    	<a class="twitter-timeline" height="285" href="https://twitter.com/NebNewsService" data-widget-id="299641054251065346">Tweets by @NebNewsService</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</p>
    				<p>&quot;The stories produced by the students were timely, well-written and accurate. I especially appreciated the willingness of the Nebraska News Service to cover hearings and report on bills that were of particular interest to (our paper).&quot;</p>
    				<p>-Kent Warneke, Norfolk Daily News</p>
					<p>&nbsp;</p>
    				<p>&quot;For those of us with limited resources and in no close proximity to the legislature, the Nebraska News Service has been a great aid for us.&quot;</p>
    				<p>-Cody Gerlach, Cambridge Clarion</p>
    				<p>&nbsp;</p>
    				<p>&quot;Your news service has certainly helped our newspaper give important coverage of state legislature activities that we simply could not otherwise provide.&quot;</p>
    				<p>-Klark Byrd, The Sidney Sun-Telegraph</p>
				</div> <!-- well -->
            </div> <!-- span4 -->
            </div> <!-- row-fluid -->

{% endblock %}