{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block edit_profile %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="well">
    	{% if user.get_profile.user_type == 'InactiveClient' %}
        <label>Note: This account has been unsubscribed from email list.</label>
        {% endif %}
        
        <h2>Edit Profile:</h2>
        <form action="" method="POST">
            {% csrf_token %}

                	{{ form|as_bootstrap }}

            <input type="submit" name="submit" value="Save">
        </form>
        <p><a href="/profiles/unsubscribe">Unsubscribe from NNS emails</a></p>
    </div>
{% endblock %}

