{% extends "base.html" %}


{% block editorlist %}

{{block.super}}
{% if user.is_staff %}
<h2>These are the editors</h2>
<style>
td
{
padding:5px;
}
</style>
<table>
    <tr>
        <td><strong>Editor Name</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>Phone Number</strong></td>
    </tr>
    {% for p in object_list %}
        {% if p.user_type == 'Editor' %}
        <tr>
        <td>
            {{ p.user.get_full_name }}
        </td>
        <td>
            {{ p.user.email }}
        </td>
        <td>
            {{ p.formatted_phone }}
        </td>
        </tr>
        {% endif %} 
    {% endfor %}
</table>

{% else %}
        <h3>You do not have permission to view this page</h3>
{% endif %}
{% endblock %}

