{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block edit_profile %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="well">
        <h2>Edit Profile:</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
            	<tr>
                	<td>
                	{{ form|as_bootstrap }}
                    </td>
            </table>
            <input type="submit" name="submit" value="Save">
        </form>
        <p><a href="/profiles/unsubscribe">Unsubscribe from NNS emails</a></p>
    </div>
{% endblock %}

