{% extends "base.html" %}

{% block clientlist %}

{{block.super}}
{% if user.is_staff %}
<h2>These are the clients</h2>
<style>
td
{
padding:15px;
}
</style>

<table>
    <tr>
        <td><strong>Client Name</strong></td>
        <td><strong>Contact Name</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>Phone Number</strong></td>
    </tr>
    {% for p in object_list %}
        {% if p.user_type == 'Client' %}
        <tr>
        <td>
            <a href="{% url profiles_profile_detail p.user.username %}">{{ p.pub_name }}</a>
        </td>
        <td>
            {{ p.user.get_full_name }}
        </td>
        <td>
            {{ p.user.email }}
        </td>
        <td>
            {{ p.formatted_phone }}
        </td>
        </tr>
        {% endif %} 
    {% endfor %}
</table>
{% else %}
        <h3>You do not have permission to view this page</h3>
{% endif %}
{% endblock %}

