{% extends "welcome.html" %}
{% load bootstrap_toolkit %}

{% block profile_detail %}
{{block.super}}
<div class="row-fluid">
    <div class="span8">
    {% if user.username == request.user.username %}
<div class="row-fluid">
    <div class="span8">
    <h3>
    Welcome {{ profile }} 
    </h3>
    <h4>
    Here's the information we currently have on your news organization
    </h4>
    <p>
    <strong>Primary Email</strong><br />
    {{ profile.user.email }}
    </p>
    <p>
    <strong>Editor:</strong> {{ profile.user.get_full_name }}
    </p>
    <p>
    <strong>Phone Number</strong><br />
    {{ profile.formatted_phone }}<br />
    </p>
    <p>
    <strong>Address</strong><br />
    {{ profile.address }}, {{ profile.city }}, {{ profile.state }} {{ profile.zipcode }}
    </p>
    <p> 
    <strong>Circulation Area</strong><br />
    {{ profile.pub_area }}
    </p>
    <p>
    <strong>Topics of interest</strong><br />
    {{ profile.about }}<br />
    </p>
    <p>
    <strong>Website and/or Social Media</strong><br />
    Website: <a href="{{ profile.website }}">{{ profile.website }}</a><br />
    Facebook: {{ profile.facebook }}<br />
    Twitter: {{ profile.twitter }}<br />
    </p>
	</div>
    <div class="span4" align="right">
    {% if profile.user.username == request.user.username %}
    {% if profile.user_type == 'Reporter' or profile.user_type == 'Editor' %}
    <a href="/profiles/reporter/edit">
    {% elif profile.user_type == 'Client' or profile.user_type == 'InactiveClient'%}
    <a href="/profiles/client/edit">
    {% endif %}
        <button class="btn btn-large" type="button">Edit my profile</button>
    </a>
    {% endif %}
    </div>
</div>
    {% else %}
        <h3>You do not have permission to view this page</h3>
    {% endif %}
    


{% endblock %}

