{% extends "base.html" %}
{% block reporterlist %}
{{block.super}}
<h2>These are the reporters</h2>
<style>
td
{
padding:5px;
}
</style>
<table>
    <tr>
        <td><strong>Reporter Name</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>Phone Number</strong></td>
    </tr>
    {% for p in object_list %}
        {% if p.user_type == 'Reporter' %}
        <tr>
        <td>
            {{ p.user.get_full_name }}
        </td>
        <td>
            {{ p.user.email }}
        </td>
        <td>
            {{ p.formatted_phone }}
        </td>
        </tr>
        {% endif %} 
    {% endfor %}
</table>
{% endblock %}

